<header class="bg-white shadow p-4 mb-6">
  <nav class="flex gap-6 text-sm font-medium items-center">

    <a href="/" data-link class="text-blue-600 hover:underline flex items-center gap-2">
      <i class="fa-solid fa-house"></i>
      Home
    </a>

    <a href="/trains" data-link class="text-blue-600 hover:underline flex items-center gap-2">
      <i class="fa-solid fa-user-graduate"></i>
      Trains
    </a>

    <a href="/bookings" data-link class="text-blue-600 hover:underline flex items-center gap-2">
      <i class="fa-solid fa-book-open"></i>
      Bookings
    </a>

    <a href="/staff" data-link class="text-blue-600 hover:underline flex items-center gap-2">
      <i class="fa-solid fa-book-open"></i>
      Staff
    </a>

    <a href="/reservations" data-link class="text-blue-600 hover:underline flex items-center gap-2">
      <i class="fa-solid fa-link"></i>
      Reservations
    </a>

    <a href="/tickets" data-link class="text-blue-600 hover:underline flex items-center gap-2">
      <i class="fa-solid fa-id-card"></i>
      Tickets
    </a>

   

  </nav>
</header>